{% extends 'base.html' %}



{% block content %}

<div class = "container mt-4">

    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="col-6 offset-3">Информация</h1>

            {% for info in wide_info %}
            <div class="alert alert-info">
                <div class="row">
                    <div class="col-9">
                <b>Город:</b> {{info.city}} <br>
                <b>Температура:</b> {{info.temp}} <sup><b>o</b></sup>C <br>
                <b>Ощущается как:</b> {{info.feels_like}} <sup><b>o</b></sup>C <br>
                        <b>Давление:</b> {{info.pressure}} Па <br>
                        <b>Влажность:</b> {{info.humidity}} % <br>
                        <b>Скорость ветра:</b> {{info.wind}} км/ч <br>
                        <b>Облачность:</b> {{info.clouds}} % <br>

                    </div>

            <div class="col-2 offset-1">
                <img src="http://openweathermap.org/img/w/{{info.icon}}.png" alt="картинка погоды" class="img-thumbnail">
            </div>

            </div>
        </div>
            {% endfor %}

      </div>
    </div>
</div>



{% endblock %}
