{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-5">Поддержка пользователей</h1>


    {% for sup in supports %}


    <!-- Первый фрейм -->
    <div class="alert alert-info">
        <div class="d-flex align-items-center">
            <div class="me-3">
                <img src={{sup.image}} alt={{sup.name}} class="img-fluid rounded-circle" style="max-width: {{sup.size}};">
            </div>


            <div>
                <h2>
                    <a href="#" class="me-3 py-2 link-body-emphasis text-decoration-none" style="color: #0078D4;">{{sup.name}}</a>
                </h2>
            </div>
        </div>
    </div>

{% endfor %}

{% endblock %}